In [1]:
print("We are learning Python for Machine Learning")  ## shift+enter to run

We are learning Python for Machine Learning

In [2]:
30 + 20

50

In [3]:
var1 = 30   ## int
var2 = 40.5   ## float
var3 = "Python"  ## str
var4 = 'Umang'   ## str
var5 = True   ## bool
var6 = 45+7j   ## complex

In [4]:
print(var1)

30

In [5]:
print(var1)
print(var2)
print(var3)
print(var4)
print(var5)
print(var6)

30
40.5
Python
Umang
True
(45+7j)

In [6]:
print(var1); print(var2)

30
40.5

In [7]:
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))
print(type(var5))
print(type(var6))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [8]:
mystr = "We are learning Python for Machine Learning"
print(mystr)

We are learning Python for Machine Learning

In [9]:
len(mystr)

43

In [10]:
mystr[3]

'a'

In [11]:
mystr[10:20]  ## 10-19

'rning Pyth'

In [12]:
mystr[10:30:3]   ## step of 3

'rnPh ra'

In [13]:
### Core Datatype - List | Tuple | Dictionary | Sets | Arrays

In [14]:
### List
# 1. Group of Heterogenous Data which is mutable
# 2. []

## Tuple
# 1. Group of Heterogenous Data which is immutable
# 2. ()

## Dictionary
# 1. Data in the form of key-value pairs
# 2. {key1:value1,key2:value2}

## Set
# 1. Unordered collection of Heterogenous data
# 2. {a1,a2,a3}

In [15]:
mylst = [20,20.5,"Umang",True,45+7j,[20,302,103]]
print(mylst)

[20, 20.5, 'Umang', True, (45+7j), [20, 302, 103]]

In [16]:
print(type(mylst))

<class 'list'>

In [17]:
mylst[2]

'Umang'

In [18]:
mytuple = (20,20.5,"Umang",True,45+7j,[20,302,103])

In [19]:
print(mytuple)

(20, 20.5, 'Umang', True, (45+7j), [20, 302, 103])

In [20]:
myset = {20,20.5,"Umang",True,45+7j}
print(myset)

{True, (45+7j), 'Umang', 20, 20.5}

In [21]:
mydict = {"name":"Umang","age":30,"place":"Patna"}
mydict

{'age': 30, 'name': 'Umang', 'place': 'Patna'}

In [22]:
mydict['name']

'Umang'

In [23]:
#### Conditional Statement 
num = int(input("Enter a number:"))
if num >=0:
  print("Positive Number")
else:
  print("Negative Number")

Enter a number:4
Positive Number

In [24]:
#### Conditional Statement 
num = int(input("Enter a number:"))
if num >0:
  print("Positive Number")
elif num<0:
  print("Negative Number")
else:
  print("Neither Negative nor Positive, its a zero")

Enter a number:-5
Negative Number

In [25]:
num1 = float(input("Enter first number:"))
num2 = float(input("Enter second number:"))
op = input("Enter Option:")
if op == "+":
  print(num1+num2)
elif op == "-":
  print(num1-num2)
elif op == "*":
  print(num1*num2)
elif op == "/":
  print(num1/num2)
else:
  print("Invalid Operation")

Enter first number:-8
Enter second number:7
Enter Option:+
-1.0

In [26]:
#### Loops - For | While

In [27]:
i = 0
while(i<10):
  print("The value of i is",i)
  i = i+1
  ## i+=1

The value of i is 0
The value of i is 1
The value of i is 2
The value of i is 3
The value of i is 4
The value of i is 5
The value of i is 6
The value of i is 7
The value of i is 8
The value of i is 9

In [28]:
mylst = ["Mumbai","Delhi","Varanasi","Chennai","Pune"]
i = 0
while(i<len(mylst)):
  print(mylst[i])
  i+=1

Mumbai
Delhi
Varanasi
Chennai
Pune

In [29]:
for i in range(10):
  print("The value of i is",i)

The value of i is 0
The value of i is 1
The value of i is 2
The value of i is 3
The value of i is 4
The value of i is 5
The value of i is 6
The value of i is 7
The value of i is 8
The value of i is 9

In [30]:
for i in range(10,20):
  print("The value of i is",i)

The value of i is 10
The value of i is 11
The value of i is 12
The value of i is 13
The value of i is 14
The value of i is 15
The value of i is 16
The value of i is 17
The value of i is 18
The value of i is 19

In [31]:
for i in range(10,30,3):
  print("The value of i is",i)

The value of i is 10
The value of i is 13
The value of i is 16
The value of i is 19
The value of i is 22
The value of i is 25
The value of i is 28

In [32]:
mylst = ["Mumbai","Delhi","Varanasi","Chennai","Pune"]
for i in range(len(mylst)):
  print(mylst[i])

Mumbai
Delhi
Varanasi
Chennai
Pune

In [33]:
mylst = ["Mumbai","Delhi","Varanasi","Chennai","Pune"]
for i in mylst:
  print(i)

Mumbai
Delhi
Varanasi
Chennai
Pune

In [34]:
#### Functions
# 1. Function without argument
# 2. Function with argument
# 3. Function with default argument
# 4. Function with return statement

In [35]:
# 1. Function without argument
def myFuncn():
  print("This is my Function")

In [36]:
myFuncn()
myFuncn()
myFuncn()

This is my Function
This is my Function
This is my Function

In [37]:
# 2. Function with argument
def myCalc(a,b,op):
  if op == "+":
    print(a+b)
  elif op == "-":
    print(a-b)
  elif op == "*":
    print(a*b)
  elif op == "/":
    print(a/b)
  else:
    print("Invalid Operation")

In [38]:
myCalc(40,10,"*")
myCalc(40,10,"+")
myCalc(40,10,"/")
myCalc(40,10,"-")

400
50
4.0
30

In [39]:
myCalc(op="+",a=40,b=10)

50

In [40]:
# 3. Function with default argument
def myCalc(a,b,op="+"):
  if op == "+":
    print(a+b)
  elif op == "-":
    print(a-b)
  elif op == "*":
    print(a*b)
  elif op == "/":
    print(a/b)
  else:
    print("Invalid Operation")

In [41]:
myCalc(40,10)

50

In [42]:
myCalc(40,10,"/")

4.0

In [43]:
# 4. Function with return statement
def myCalc_ret(a,b,op="+"):
  if op == "+":
    return(a+b)
  elif op == "-":
    return(a-b)
  elif op == "*":
    return(a*b)
  elif op == "/":
    return(a/b)
  else:
    return("Invalid Operation")

In [44]:
var1 = myCalc(45,45,"+")

90

In [45]:
print(var1)

None

In [46]:
var2 = myCalc_ret(45,45,"+")

In [47]:
print(var2)

90